<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xujinshan.mapper.LogMapper">
	<select id="selectAll" resultType="Log">
		select * from Log
	</select>
	<!-- 当参数时，不需要写parameterType -->
	<select id="selectByAccountInAndAccountOut" resultType="Log">
		select * from log where accountIn=#{0} and accountOut=#{1}
		<!-- select * from log where accountIn=#{param1} and accountOut=#{param2} -->
	</select>
	<!--  
	<select id="selectAccInAccOut" resultType="Log">
		select * from log where 1=1 
			OGNL表达式，直接写key或对象的属性,不需要添加任何特殊符号
		<if test="accountIn!=null and accountIn!=''">
			and accountIn=#{accountIn}
		</if>
		<if test="accountOut!=null and accountOut!=''">
			and accountOut=#{accountOut}
		</if>
	</select>
	-->
	<!--  
	<select id="selectAccInAccOut" resultType="Log">
		select * from log 
		<where>
				OGNL表达式，直接写key或对象的属性,不需要添加任何特殊符号 
			<if test="accountIn!=null and accountIn!=''">
				and accountIn=#{accountIn}
			</if>
			<if test="accountOut!=null and accountOut!=''">
				and accountOut=#{accountOut}
			</if>
		</where>
	</select>
	-->
	<select id="selectAccInAccOut" resultType="Log">
		select * from log 
		<where>
			<choose>
				<when test="accountIn!=null and accountIn!=''">
					and accountIn=#{accountIn}
				</when>
				<when test="accountOut!=null and accountOut!=''">
					and accountOut=#{accountOut}
				</when>
			</choose>
		</where>
	</select>
	
	<update id="upd" parameterType="Log">
		update log 
		<set>
			id=#{id},
			<if test="accountIn!=null and accountIn!=''" >
				accountIn=#{accountIn},
			</if>
			<if test="accountOut!=null and accountOut!=''">
				and accountOut=#{accountOut},
			</if>
		</set>
		where accountIn=#{accountIn}
	</update>
	<!-- 
	<update id="upd" parameterType="Log">
		update log
		<trim prefix="set" suffixOverrides=",">
			a=a,
		</trim>
		where id=100
	</update>
	-->
	<!--  
	<select id="selectByLog" resultType="Log" parameterType="Log">
		select * from log
		<trim prefix="abc" prefixOverrides="abc">abc</trim>
	</select>
	-->
	<!--  
	<select id="selectByLog" parameterType="Log" resultType="Log">
		字符串拼接模糊查询
		<bind name="accountIn" value="'%'+accountIn+'%'"/>
		<bind name="money" value="'$'+money"/>
		select * from log
		#{money}
	</select>
	-->
	<select id="selectByLog" resultType="Log" parameterType="Log">
		select * from log
		<trim prefix="where" prefixOverrides="and">
			and accountIn=#{accountIn}
		</trim>
	</select>
	
	<select id="selectIn" parameterType="list">
		select * from log where id in
		<foreach collection="list" item="abc" open="(" close=")" separator=",">
			#{abc}
		</foreach>
	</select>
	
	<insert id="ins" parameterType="list">
		insert into log values
		<trim suffixOverrides=",">
			<foreach collection="list" item="log" >
				(default,#{log},2,2),
			</foreach>
		</trim>
	</insert>
	
	<sql id="mysql">
		id,accoutIn,accountOut,money
	</sql>
	
	<select id="">
		select<include refid="mysql"></include>
		from log
	</select>
</mapper>